/* New Theme Desinged By Mahammed Faizulla */
@media (min-width: 1200px)
{
	.container, .tbl-resu {
		max-width: 1096px;
		margin: 0 auto;
	}

}
.tbl-resu {
	border-bottom:0px solid #fff;
 }
.main_content
{
	width: 66.666%;
	max-width: 100%;
	border-left:0px solid #fff;
	border-right:0px solid #fff;
}
.container
{
	padding:0px;
	width: 100%;
}
h1
{
	font-size:46px;
	font-weight: 500;
	font-family: 'Arvo', serif;
	color: #4c4a4a ;
}
html,{
	font: 0.980em/1.71429 'PT Sans', sans-serif;
}
.left-cat a, .left-cat-hd a, .sitemap-link a, .sitemap-link, .prmo-line, .text, .main_content a, .main_content li{
	color: #4c4a4a ;
	font-family: 'PT Sans', sans-serif;
}
.left-cat a, .left-cat-hd a, .sitemap-link a, .sitemap-link, .text, .main_content li{
	font-size: 16px;
	line-height: 1.51;
}
.main_content li {
	margin-left:5%;
}
 
.cat-hd{
	background-color: #a2124a;
	padding: .85714rem 1.71429rem;
	font-family: 'PT Sans', serif;
	font-weight: normal;
	margin-bottom: 0;
	color: white;
	font-size: 19px;
	font-size: 1.35714rem;
	line-height: 1.27316;
	border-bottom: 2px solid black;
}
.cat-hd a
{
	font-weight:bold;
}
.sidebar {
	max-width:100%;
	padding-left:0px;
}
.list-inline {
	padding-left: 0;
	margin-left: -5px;
	list-style: none;
}
.list-inline li {
	background: #3b4045;
	padding: 6px 6px;
	margin-bottom: 2px;
	display: inline-block;
}
.list-inline li a{
	color:white;
	font-weight: normal;
}
.left-cat, .left-cat-hd
{
	margin-left:5%;
}
.navbar{
	margin-bottom: 0.71429rem;
}
.navbar
{
	background-color: #a2124a;
}
.navbar-default .navbar-nav > li > a {
	color: #fff;
	font-size: 14px !important;
	padding-top:10px;
	padding-bottom:10px;
	margin-right: 15px;
	font-weight: bold;
}
.navbar-default .navbar-nav > li > a:hover {
	color:#fff;
	background-color: rgba(255, 255, 255, .05);
}
@media (max-width: 899px)
{
	.main_content, .sidebar
	{
		width: 100%;
	}
	.left-box{
		width: 100%;
		padding-left: 0rem;
		background: #363B40;
		padding: 10px;
		margin-top: 1%;
		clear:both;
		display: inline-table;
		max-width: 100%;
	}
	#left_panel{	
		display: inline-table;
	}
	.left-cat br, .left-cat img, .left-cat-hd img , .left-cat-hd br
	{
		display: none !important;
	}
	.left-cat img, .left-cat a, .left-cat-hd img, .left-cat-hd a
	{
		float:left;
		background: #3b4045;
		padding: 6px 6px;
		margin-bottom: 2px;
		color:#fff;
		font-weight:normal;
		font-size: 13px !important;
		display: inline-block;
		margin-right:5px;
	}
	.left-cat, .left-cat-hd {
		margin-left: 0%;
	}
}

@media (min-width: 1200px) {
	.main_content ul, .main_content li, .text, .home-text, .main_content p, .home_main_content p
	{
		font-size: 14px;	
	}
}